.container {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  max-width: 960px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12rem;
}

.logo-container {
  width: 40%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
  gap: 6.6rem;
  max-width: 48rem;
}

.logo-container img {
  width: 112px;
  height: 112px;
}

.title {
  font-size: 5.1rem;
  line-height: 6.4rem;
  color: var(--white);
}

.title span {
  color: var(--primary);
}

.form-container {
  width: 60%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form-content {
  width: 100%;

  padding: 6.4rem;
  border-radius: 0.5rem;
  background: var(--background-content)
}

.forgot-password {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--primary);
}

.register-link {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-top: 4.5rem;
  
  color: var(--white);
  font-size: 1.4rem;
}

.register-link a {
  color: var(--primary);
  font-weight: 600;
}