* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #02020E;
  --background-content: #101010;
  --primary: #1C63FF;
  --white: #FFFFFF;
  --input-background: #130F16;
  --input-stroke: #1A151E;
  --placeholder: #717983;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;

  @media (max-width: 1080px) {
    font-size: 56.25%;
  }

  @media (max-width: 720px) {
    font-size: 50%;
  }
}

body {
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background: var(--background);
  border: none;
}

a {
  text-decoration: none;
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  transition: filter 0.2s;
}

a:hover {
  filter: brightness(0.8);
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 600;
}

button {
  cursor: pointer;
}